@import './tailwind.css';
@import './theme.css';

.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
}
.inter-sans {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}