.menu-items a::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #eff6ff;
transform: translateX(-100%);
transition: transform 0.5s ease;
z-index: -1;
}

.menu-items a:hover::before {
transform: translateX(0);
}
.menu-items a {
position: relative;
z-index: 2;
overflow: hidden;
}